<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recipe/<%= @recipe.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_name -->
      <div class="form-group">
        <label for="recipe_name" class="control-label">
          Recipe name
        </label>

        <input type="text" id="recipe_name" name="recipe_name" placeholder="Recipe name" class="form-control" value="<%= @recipe.recipe_name %>">
      </div>

      <!-- Label and input for ingredients -->
      <div class="form-group">
        <label for="ingredients" class="control-label">
          Ingredients
        </label>

        <textarea id="ingredients" name="ingredients" placeholder="Ingredients" class="form-control" rows="3"><%= @recipe.ingredients %></textarea>
      </div>

      <!-- Label and input for instructions -->
      <div class="form-group">
        <label for="instructions" class="control-label">
          Instructions
        </label>

        <textarea id="instructions" name="instructions" placeholder="Instructions" class="form-control" rows="3"><%= @recipe.instructions %></textarea>
      </div>

      <!-- Label and input for recipe_type -->
      <div class="form-group">
        <label for="recipe_type" class="control-label">
          Recipe type
        </label>

        <input type="text" id="recipe_type" name="recipe_type" placeholder="Recipe type" class="form-control" value="<%= @recipe.recipe_type %>">
      </div>

      <button class="btn btn-warning">
        Update Recipe
      </button>
      or
      <a href="/recipes/<%= @recipe.id %>">Cancel</a>
    </form>
  </div>
</div>
