<div class="page-header">
  <h3>Ingredient #<%= @ingredient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @ingredient.user_id %></dd>

      <dt>Food group</dt>
      <dd><%= @ingredient.food_group %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ingredients" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @ingredient.user %>
        <a href="/ingredients/<%= @ingredient.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_ingredient/<%= @ingredient.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Ingredient has many meal_options -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Meal Options
      </li>

      <% @ingredient.meal_options.each do |meal_option| %>
        <li class="list-group-item">
          <a href="/meal_options/<%= meal_option.id %>">
            <%= meal_option.ingredient_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/meal_options/<%= meal_option.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/meal_options/<%= meal_option.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_meal_option/<%= meal_option.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_meal_option" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ingredient_id -->
      <input type="hidden" name="ingredient_id" value="<%= @ingredient.id %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :food_group), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Meal Option
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Ingredient has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @ingredient.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.food_group %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
