<!-- Validation failure messages -->
<% if @meal_option.errors.any? %>
  <% @meal_option.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Meal Option #<%= @meal_option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_meal_option/<%= @meal_option.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ingredient_id -->
      <div class="form-group">
        <label for="ingredient_id" class="control-label">
          Ingredient
        </label>

        <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :user_id, @meal_option.ingredient_id), :class => "form-control") %>
      </div>

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :food_group, @meal_option.recipe_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Meal Option
      </button>
      or
      <a href="/meal_options/<%= @meal_option.id %>">Cancel</a>
    </form>
  </div>
</div>
