<div class="page-header">
  <h1>
    Meal options
    <a href="/meal_options/new" class="btn btn-lg btn-success">New Meal option</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Ingredient</th>
        <th>Recipe</th>
        <th>Actions</th>
      </tr>

      <% @meal_options.each do |meal_option| %>
      <tr>
        <td>
          <% if meal_option.ingredient.present? %>
            <a href="/ingredients/<%= meal_option.ingredient.id %>">
              <%= meal_option.ingredient.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if meal_option.recipe.present? %>
            <a href="/recipes/<%= meal_option.recipe.id %>">
              <%= meal_option.recipe.recipe_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/meal_options/<%= meal_option.id %>" class="btn btn-primary">Show</a>
          <a href="/meal_options/<%= meal_option.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_meal_option/<%= meal_option.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @meal_options, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
